annotated-types==0.7.0
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
Brotli
cached-property
certifi
cffi
charset-normalizer
comm
debugpy
decorator
defusedxml
distro==1.9.0
entrypoints
environs==9.5.0
exceptiongroup
executing
fastjsonschema
fqdn
grpcio==1.63.0
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
importlib_resources
ipykernel
ipython
ipywidgets
isoduration
jedi
Jinja2
jiter==0.5.0
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
MarkupSafe
marshmallow==3.21.3
matplotlib-inline
milvus-lite==2.4.9
mistune
nbclient
nbconvert
nbformat
nest_asyncio
notebook
notebook_shim
numpy==2.0.1
openai==1.40.8
overrides
packaging
pandas==2.2.2
pandocfilters
parso
pexpect
pickleshare
pkgutil_resolve_name
platformdirs
prometheus_client
prompt_toolkit
protobuf==5.27.3
psutil
ptyprocess
pure_eval
pycparser
pydantic==2.8.2
pydantic_core==2.20.1
Pygments
pymilvus==2.4.5
pyobjc-core
pyobjc-framework-Cocoa
PySocks
python-dateutil
python-dotenv==1.0.1
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
Send2Trash
six
sniffio
soupsieve
stack-data
terminado
tinycss2
tomli
tornado
tqdm==4.66.5
traitlets
types-python-dateutil
typing-utils
typing_extensions
tzdata==2024.1
ujson==5.10.0
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
zipp
zstandard==0.23.0
